# LIBRARY MANAGEMENT SYSTEM
Team: Zeba Fathima,Donna, Dhanya, Vijaylakshmi,Shreya, Alisha

## Import modules and Connections

In [41]:
import psycopg2 as pg
import sqlite3 as lite
import pandas as pd
import pg_utils

In [42]:
import warnings
warnings.filterwarnings('ignore')

In [44]:
con, cur = pg_utils.open_lib()

## Creating Book Table

In [4]:
df_members = pd.read_excel('Book_Data.xlsx')
data = df_members.values.tolist()
sql = """CREATE TABLE Book (
  Book_id TEXT,
  ISBN TEXT,
  Title TEXT,
  Author TEXT,
  Subject TEXT,
  Publication_Year INT,
  Availability_Status TEXT,
  PRIMARY KEY (Book_id)
);
      """
con, cur = pg_utils.open_lib()
cur.execute("DROP TABLE IF EXISTS Book")
cur.execute(sql); 
con.commit();

con, cur = pg_utils.open_lib()
cur.executemany("INSERT INTO Book VALUES(%s,%s,%s,%s,%s,%s,%s)",data)
con.commit();

con, cur = pg_utils.open_lib()
df = pd.read_sql("SELECT * FROM Book", con)
df

,book_id,isbn,title,author,subject,publication_year,availability_status
0,RVUN21LB0036,9789353167325,Financial services,"Khan, M . Y.",Economics,2019,Available
1,RVUN21LB0037,9789353167325,Financial services,"Khan, M . Y.",Economics,2019,Unavailable
2,RVUN21LB0038,9789353167325,Financial services,"Khan, M . Y.",Economics,2019,Checked Out
3,RVUN21LB0039,9789353167325,Financial services,"Khan, M . Y.",Economics,2019,Checked Out
4,RVUN21LB0317,978-1780673707,Color hramony 2,Bride M.Whelan,Painting,2000,Available
...,...,...,...,...,...,...,...
92,RVUN21LB0322,9782884790871,An illustrated a to z of digital photography: ...,"Atherton, Nigel.",Photography,2006,Available
93,RVUN21LB0418,97893899392029,Red dot design year book 2018/19 - Working,"Dot, Red.",Household furnishings,2018,Available
94,RVUN21LB0419,9783899392043,Red dot design year book 2018/19 - Doing,"Dot, Red.",Household furnishings,2018,Available
95,RVUN21LB0420,9783899392043,Red dot design year book 2018/19 - Enjoying,"Dot, Red.",Household furnishings,2018,Available
96,RVUN21LB0109,9780143029892,The penguin history of early india:from the or...,"Thapar, Romila.",History,2003,Checked Out

## Creating User Table

In [5]:
df_members = pd.read_excel('User_Data.xlsx')
data = df_members.values.tolist()

sql = """
    CREATE TABLE Users (
      User_id TEXT,
      Name TEXT,
      Role TEXT,
      Email TEXT,
      Password TEXT,
      PRIMARY KEY (User_id)
    );
    """

con, cur = pg_utils.open_lib()
cur.execute("DROP TABLE IF EXISTS Users")
cur.execute(sql)
con.commit()

cur.executemany("INSERT INTO Users VALUES (%s, %s, %s, %s, %s)", data)
con.commit()

df = pd.read_sql("SELECT * FROM Users", con)
df

,user_id,name,role,email,password
0,USN40440123,Emily Johnson,Librarian,ejohnson_23@gmail.com,securePass123
1,USN40440124,Daniel Turner,Librarian,dturner_89@gmail.com,library123!
2,USN40440125,Sophia Walker,Member,swalker_45@gmail.com,P@ssword456
3,USN40440126,Matthew Baker,Member,mbaker_12@gmail.com,RandomP@ss!
4,USN40440127,Olivia Harris,Member,oharris_77@gmail.com,1234Secure!
5,USN40440128,Noah Bennett,Librarian,nbennett_34@gmail.com,StrongP@ss1
6,USN40440129,Emma Martinez,Librarian,emartinez_56@gmail.com,Pa$$w0rd789
7,USN40440130,Liam Anderson,Member,landerson_78@gmail.com,SafeLibr@ry1
8,USN40440131,Ava Scott,Member,ascott_90@gmail.com,UniqueP@ss!
9,USN40440132,James Miller,Librarian,jmiller_23@gmail.com,Passw0rd123
10,USN40440133,Sophia Davis,Librarian,sdavis_45@gmail.com,Libr@rySecure1
11,USN40440134,Ethan Garcia,Member,egarcia_67@gmail.com,9876P@ssword
12,USN40440135,Olivia White,Member,owhite_89@gmail.com,P@ssw0rdLib
13,USN40440136,Lucas Thomas,Librarian,lthomas_12@gmail.com,SecureP@ssword!
14,USN40440137,Mia Wilson,Librarian,mwilson_34@gmail.com,123Library!
15,USN40440138,Benjamin Clark,Librarian,bclark_56@gmail.com,4567P@ssword
16,USN40440139,Emma Lee,Member,emalee_78@gmail.com,P@ssword1234
17,USN40440140,Alexander King,Member,aking_90@gmail.com,Libr@ryP@ss1
18,USN40440141,Sophia Adams,Librarian,sadams_23@gmail.com,StrongLib!
19,USN40440142,Noah Turner,Member,nturner_45@gmail.com,Secure123!
20,USN40440143,Ava Wright,Member,awright_67@gmail.com,P@ss123Lib
21,USN40440144,Jackson Parker,Librarian,jparker_89@gmail.com,LibSecure@
22,USN40440145,Isabella Taylor,Member,itaylor_12@gmail.com,RandomP@ssword1
23,USN40440146,Aiden Collins,Member,acollins_34@gmail.com,SafeLib!
24,USN40440147,Sophia Mitchell,Member,smitchell_56@gmail.com,P@ssword7890
25,USN40440148,Jackson Young,Member,jyoung_78@gmail.com,1234Lib!
26,USN40440149,Grace Lewis,Librarian,glewis_90@gmail.com,LibraryPass!
27,USN40440150,Oliver Martin,Librarian,omartin_23@gmail.com,StrongP@ssword1
28,USN40440151,Amelia Hill,Member,ahill_45@gmail.com,UniqueLib1!
29,USN40440152,Samuel Scott,Member,sscott_67@gmail.com,Pa$$w0rdLibr
30,USN40440153,Lily Allen,Librarian,lallen_89@gmail.com,SecureP@ss!
31,USN40440154,Lucas White,Librarian,lwhite_12@gmail.com,Libr@ry123!
32,USN40440155,Mia Turner,Member,miturner_34@gmail.com,StrongPass!
33,USN40440156,Elijah Bennett,Member,ebennett_56@gmail.com,Pa$$wordLib1
34,USN40440157,Ava Hall,Librarian,ahall_78@gmail.com,123Secure!
35,USN40440158,Ethan Clark,Librarian,eclark_90@gmail.com,RandomP@ss1
36,USN40440159,Scarlett Harris,Librarian,sharris_23@gmail.com,7890P@ssword
37,USN40440160,Henry Turner,Librarian,hturner_45@gmail.com,Library456!
38,USN40440161,Harper Wilson,Librarian,hwilson_67@gmail.com,P@ssword12345
39,USN40440162,Mia Martinez,Librarian,mmartinez_89@gmail.com,Libr@rySafe!
40,USN40440163,Benjamin Adams,Member,badams_12@gmail.com,UniqueP@ss1
41,USN40440164,Emma Taylor,Member,etaylor_34@gmail.com,Passw0rd!
42,USN40440165,Jackson Wright,Member,jwright_56@gmail.com,P@ssLib!
43,USN40440166,Ava King,Member,aking_78@gmail.com,SecureLib!
44,USN40440167,Oliver Collins,Member,ocollins_90@gmail.com,Libr@ry789
45,USN40440168,Isabella Scott,Librarian,iscott_23@gmail.com,Pa$$word1!
46,USN40440169,Noah Lewis,Member,nlewis_45@gmail.com,RandomLib!
47,USN40440170,Sophia Hill,Librarian,shill_67@gmail.com,StrongP@ss1!
48,USN40440171,Ethan Adams,Member,eadams_89@gmail.com,123Libr@ry
49,USN40440172,Lily Young,Librarian,lyoung_12@gmail.com,P@ssword!

## Creating Issue Table

In [6]:
df_members = pd.read_excel('Book_Issue.xlsx')
data = df_members.values.tolist()
print(df_members.columns)

sql = """CREATE TABLE Book_Issue (
  Issue_id TEXT,
  Book_id TEXT,
  User_id TEXT,
  Issue_Date DATE,
  Due_Date DATE,
  Is_Return BOOL,
  Return_Date DATE,
  Fine_Amount INT,
  PRIMARY KEY (Issue_id),
  FOREIGN KEY (Book_id) REFERENCES Book(Book_id),
  FOREIGN KEY (User_id) REFERENCES Users(User_id)
);
      """
con, cur = pg_utils.open_lib()
cur.execute("DROP TABLE IF EXISTS Book_Issue")
cur.execute(sql); con.commit(); con.close()

con, cur = pg_utils.open_lib()
cur.executemany("INSERT INTO Book_Issue VALUES(%s,%s,%s,%s,%s,%s,%s,%s)",data)
con.commit(); con.close()

con, cur = pg_utils.open_lib()
df = pd.read_sql("SELECT * FROM Book_Issue", con)
df

Index(['Issue_ID', 'Book_ID', 'User_ID', 'IssueDate', 'DueDate', 'Is_Return',
       'Return_date', 'Amount'],
      dtype='object')

,issue_id,book_id,user_id,issue_date,due_date,is_return,return_date,fine_amount
0,I20230002,RVUN21LB0036,USN40440129,2023-01-01,2023-01-15,True,2023-02-15,20
1,I20230003,RVUN21LB0039,USN40440130,2023-02-01,2023-02-15,True,2023-03-21,5
2,I20230004,RVUN21LB0038,USN40440131,2023-03-07,2023-03-21,True,2023-04-03,0
3,I20230005,RVUN21LB0039,USN40440134,2023-03-20,2023-04-03,True,2023-06-19,15
4,I20230006,RVUN21LB0045,USN40440135,2023-05-06,2023-05-20,True,2023-06-20,75
5,I20230007,RVUN21LB0046,USN40440136,2023-06-06,2023-06-20,False,2023-08-24,45
6,I20230008,RVUN22LB0322,USN40440137,2023-10-08,2023-10-22,False,2023-09-10,35
7,I20230009,RVUN21LB0048,USN40440145,2023-08-27,2023-09-10,True,2023-09-18,5
8,I20230010,RVUN21LB0049,USN40440146,2023-04-09,2023-04-23,False,2023-11-05,0
9,I20230011,RVUN22LB0322,USN40440151,2023-10-22,2023-11-05,True,2023-11-05,10
10,I20230012,RVUN22LB0323,USN40440152,2023-10-22,2023-11-05,True,2023-11-28,20
11,I20230013,RVUN21LB0277,USN40440153,2023-11-14,2023-11-28,False,2023-03-21,25
12,I20230014,RVUN21LB0278,USN40440156,2023-07-03,2023-07-17,True,2023-09-12,35
13,I20230015,RVUN21LB0277,USN40440157,2023-04-09,2023-04-23,False,2023-09-18,20

In [7]:
cur.execute("""
ALTER TABLE Book_Issue
ALTER COLUMN Is_Return SET DEFAULT FALSE;
""")
con.commit()

## Trigger Function

**AUTO DUE DATE GENERATOR** 

on the entry of book in issue table given the issue date the due date for the same is autofilled, no user input required

In [8]:
cur.execute("""
CREATE OR REPLACE FUNCTION calculate_due_date()
RETURNS TRIGGER AS $$
BEGIN
    -- Set Due_Date as 14 days ahead of Issue_Date
    NEW.Due_Date = NEW.Issue_Date + INTERVAL '14 days';
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER set_due_date
BEFORE INSERT ON Book_Issue
FOR EACH ROW
EXECUTE FUNCTION calculate_due_date();
""")
con.commit()

**AUTO FINE CALCULATOR**

when a certain book with a certain issue_id is updated to be retured the fine is calculated automatically, for each day past the due day the fine amount increases by Rs.5 with the comparison of due date and the entered return date

In [9]:
sql = """
CREATE OR REPLACE FUNCTION calculate_fines()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.Is_Return = TRUE THEN
        IF NEW.Return_Date::DATE < NEW.Due_Date THEN
            UPDATE Book_Issue
            SET Return_Date = NEW.Return_Date::DATE, Fine_Amount = 0
            WHERE Issue_Id = NEW.Issue_id;
        ELSE
            UPDATE Book_Issue
            SET Return_Date = NEW.Return_Date::DATE, Fine_Amount = (NEW.Return_Date::DATE - NEW.Due_Date) * 5
            WHERE Issue_Id = NEW.Issue_id;
        END IF;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER auto_calculate_fines
AFTER UPDATE OF Is_Return ON Book_Issue
FOR EACH ROW
EXECUTE FUNCTION calculate_fines();
"""
cur.execute(sql)
con.commit()

**CHECK - BORROWING LIMIT**

limits the insert of books for the user with more that 2 books under their id

In [10]:
sql = """
CREATE OR REPLACE FUNCTION check_borrowing_limit()
RETURNS TRIGGER AS $$
DECLARE
    borrowed_count INT;
BEGIN
    -- Count the number of books currently borrowed and not returned by the user
    SELECT COUNT(*) INTO borrowed_count
    FROM Book_Issue
    WHERE User_id = NEW.User_id AND Is_Return = FALSE;

    IF borrowed_count >= 3 THEN
        -- Raise an error message
        RAISE EXCEPTION 'This member (%s) has reached the borrowing limit. Further borrowing is restricted.', NEW.User_id;
        RETURN NULL; -- Exiting the function
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create the trigger to execute the check_borrowing_limit function after each INSERT
CREATE TRIGGER enforce_borrowing_limit
AFTER INSERT ON Book_Issue
FOR EACH ROW
EXECUTE FUNCTION check_borrowing_limit();
"""
cur.execute(sql)
con.commit()

**UPDATE Avaialility on Issue**

aims to automate the update the availability_status of the book once it has been issued

In [11]:
sql = """CREATE OR REPLACE FUNCTION update_availability_on_issue()
RETURNS TRIGGER AS $$
BEGIN
    -- Update the Availability_Status to 'Not Available' when a book is issued
    UPDATE Book
    SET Availability_Status = 'Checked Out'
    WHERE Book_id = NEW.Book_id;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER set_availability_on_issue
AFTER INSERT ON Book_Issue
FOR EACH ROW
EXECUTE FUNCTION update_availability_on_issue();"""

cur.execute(sql)
con.commit()

**UPDATE Availability on Return**

aims to automate the update the availability_status of the book once it has been returned.

In [12]:
sql = """
CREATE OR REPLACE FUNCTION update_availability_on_return()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.Is_Return = TRUE THEN
        UPDATE Book
        SET Availability_Status = 'Available'
        WHERE Book_id = NEW.Book_id;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER book_return_trigger
AFTER UPDATE OF Is_Return ON Book_Issue
FOR EACH ROW
EXECUTE FUNCTION update_availability_on_return();
"""
cur.execute(sql)
con.commit()

### TEST CASE

In [17]:
cur.execute("""
INSERT INTO Book_Issue (Issue_id, Book_id, User_id, Issue_Date)
VALUES ('I20230016', 'RVUN21LB0053', 'USN40440135', '2023-11-25');
""")
con.commit()

In [18]:
pd.read_sql("SELECT * FROM Book_Issue WHERE Issue_id = 'I20230016'",con)

,issue_id,book_id,user_id,issue_date,due_date,is_return,return_date,fine_amount
0,I20230016,RVUN21LB0053,USN40440135,2023-11-25,2023-12-09,False,None,None

In [20]:
pd.read_sql("SELECT * FROM Book WHERE Book_id = 'RVUN21LB0053'",con)

,book_id,isbn,title,author,subject,publication_year,availability_status
0,RVUN21LB0053,9789353167301,Indian financial system,"Khan, M . Y.",Economics,2019,Checked Out

In [21]:
#you need to make a function which makes the Is_return given that the function is 'return_book'
import datetime
issue_id = input("Enter Issue_id: ")
return_date = input("Enter date in YYYY-MM-DD: ")
book_id = input("Enter the book_id: ")

try:
    return_date = datetime.datetime.strptime(return_date, '%Y-%m-%d').date()
except ValueError:
    print("Invalid date format. Please enter the date in YYYY-MM-DD format.")

cur.execute("""
    UPDATE Book_Issue
    SET Is_Return = TRUE, Return_Date = %s
    WHERE Issue_id = %s AND Book_id = %s;
""", (return_date, issue_id, book_id))

Enter Issue_id: I20230016
Enter date in YYYY-MM-DD: 2023-12-16
Enter the book_id: RVUN21LB0053

In [23]:
pd.read_sql("SELECT * FROM Book_Issue WHERE Issue_id='I20230016'",con)

,issue_id,book_id,user_id,issue_date,due_date,is_return,return_date,fine_amount
0,I20230016,RVUN21LB0053,USN40440135,2023-11-25,2023-12-09,True,2023-12-16,35

In [22]:
pd.read_sql("SELECT * FROM Book WHERE Book_id='RVUN21LB0053'",con)

,book_id,isbn,title,author,subject,publication_year,availability_status
0,RVUN21LB0053,9789353167301,Indian financial system,"Khan, M . Y.",Economics,2019,Available

## Views

**Books To Return**

This aims to give the view of all the remaining books that needs to be returned to the library that has been issued to a particular.

In [13]:
sql = """CREATE OR REPLACE VIEW books_to_return AS
                SELECT
                    bi.book_id,
                    bi.due_date,
                    bi.user_id
                FROM
                    book_issue bi
                WHERE
                    bi.is_return = false;"""
cur.execute(sql)
con.commit()

**Checked Out Books**

aims to give the all the checked out books in the library

In [14]:
sql = """
CREATE MATERIALIZED VIEW checked_out_books AS
SELECT bi.Issue_id, bi.Book_id, b.Title, u.Name AS User_Name, bi.Issue_Date, bi.Due_Date, bi.Is_Return, bi.Return_date, bi.Fine_Amount
FROM Book_Issue bi
JOIN Book b ON bi.Book_id = b.Book_id
JOIN Users u ON bi.User_id = u.User_id
WHERE bi.Is_Return = FALSE;
"""
cur.execute(sql)
con.commit()

**Available Books**

aimd to give/show all the books that are currently available in the library.

In [15]:
view_sql = """
CREATE OR REPLACE VIEW available_book AS
SELECT *
FROM Book
WHERE Availability_Status = 'Available';
"""
cur.execute(view_sql)
con.commit()

**Users Summary**

this aims to give the varied users present in the library with their total count.
as of now it is just member and librarian

In [39]:
sql= """
CREATE OR REPLACE VIEW user_roles_summary AS
SELECT Role, COUNT(*) AS  UserCount
FROM Users
GROUP BY Role;
"""
cur.execute(sql)
con.commit()

# User Interface

* It is a command line based interface
* Actors: Member and Librarian
* Both authenticated on entering to the system
* on successful authentication both actors proceed to performing their actions
* Actions:
    1. Member Actions:
    
         * View of Over Due Books
         * Search Books Based On Title, Subject, Author --> ILIKE operations
         * View of Available Books
         
    2. Librarian Actions: 
    
        i. Book Management:
            * Add Book --> New Book record is added : INSERT
            * Update Book --> edit the existing row info : UPDATE
            * Remove Book --> Delete a record from table: DELETE
            
       ii. User Management
            * Add User --> New User record is added : INSERT
            * Update User --> edit the current existing user info : UPDATE
            * Remove User --> Delete a user from the table : DELETE
            
      iii. Issue and Returns: 
            * Issue --> Insert record into issue table, invoking triggers
            * Return --> updates status, invoking triggers
            
       iv. Search: Search record based on title, author, subject
       
        v. View the checkout books
        
       vi. View User Role summary
       
       
* on completing their respective operation as required, they can exit the program : Logout

In [45]:
import psycopg2
from datetime import datetime

def connect():
    con = psycopg2.connect(
            host="localhost",
            port='5432',            
            database="Library",
            user="postgres",
            password="donna2004"
    )
    return con

def member_authentication(member_id, password):
    try:
        cur = con.cursor()
        cur.execute("SELECT Password FROM Users WHERE User_id = %s", (member_id,))
        member_data = cur.fetchone()

        if member_data:
            # member_data is a tuple, extract the password from it
            stored_password = member_data[0]
            if password == stored_password:
                return True
            else:
                return False
        else:
            return False

    except (Exception, psycopg2.DatabaseError) as error:
        print("Error during authentication:", error)
        return False
    
def add_book():
    try:
        book_id = input("Enter Book ID: ")
        isbn = input("Enter ISBN: ")
        title = input("Enter Title: ")
        author = input("Enter Author: ")
        subject = input("Enter Subject: ")
        publication_year = input("Enter Publication Year: ")
        cur = con.cursor()
        cur.execute("""
            INSERT INTO Book(Book_id, ISBN, Title, Author, Subject, Publication_Year, Availability_Status)
            VALUES (%s, %s, %s, %s, %s, %s, 'Available')
        """, (book_id, isbn, title, author, subject, publication_year))
        con.commit()
        print("Book added successfully!")
    except psycopg2.Error as e:
        print(f"Error adding book: {e}")

def delete_book():
    try:
        book_id = input("Enter the book_id: ")
        cur = con.cursor()
        cur.execute("""
            DELETE FROM Book
            WHERE Book_id = %s
        """, (book_id,))
        con.commit()
        print("Book deleted successfully!")
    except psycopg2.Error as e:
        print(f"Error deleting book: {e}")
        
def add_member():
    try:
        user_id = input("Enter User ID: ")
        name = input("Enter Name: ")
        role = input("Enter Role: ")
        email = input("Enter Email: ")
        password = input("Enter Password: ")

        cur = con.cursor()
        cur.execute("""
            INSERT INTO Users(User_id, Name, Role, Email, Password)
            VALUES (%s, %s, %s, %s, %s)
        """, (user_id, name, role, email, password))
        con.commit()
        print("Member added successfully!")
    except psycopg2.Error as e:
        print(f"Error adding member: {e}")


def delete_member():
    try:
        user_id = input("Enter the user_id: ")
        cur = con.cursor()
        cur.execute("""
            DELETE FROM Users
            WHERE User_id = %s
        """, (user_id,))
        con.commit()
        print("Member deleted successfully!")
    except psycopg2.Error as e:
        print(f"Error deleting member: {e}")

def update_member_details():
    user_id = input("Enter the user_id: ")
    print("Which details do you want to update?")
    print("1. Name")
    print("2. Role")
    print("3. Email")
    print("4. Password")
    print("0. Exit")

    choice = input("Enter your choice (1-4): ")

    try:
        cur = con.cursor()

        if choice == "1":
            new_name = input("Enter the new Name: ")
            cur.execute("""
                UPDATE Users
                SET Name = %s
                WHERE User_id = %s
            """, (new_name, user_id))
        elif choice == "2":
            new_role = input("Enter the new Role: ")
            cur.execute("""
                UPDATE Users
                SET Role = %s
                WHERE User_id = %s
            """, (new_role, user_id))
        elif choice == "3":
            new_email = input("Enter the new Email: ")
            cur.execute("""
                UPDATE Users
                SET Email = %s
                WHERE User_id = %s
            """, (new_email, user_id))
        elif choice == "4":
            new_password = input("Enter the new Password: ")
            cur.execute("""
                UPDATE Users
                SET Password = %s
                WHERE User_id = %s
            """, (new_password, user_id))
        elif choice == "0":
            print("Exiting update process.")
            return

        con.commit()
        print("Member details updated successfully!")
    except psycopg2.Error as e:
        print(f"Error updating member details: {e}")


def update_book_details():
    book_id = input("Enter the book_id: ")
    print("Which details do you want to update for the book?")
    print("1. ISBN")
    print("2. Title")
    print("3. Author")
    print("4. Subject")
    print("5. Publication Year")
    print("0. Exit")

    try:
        cur = con.cursor()

        choice = input("Enter your choice (1-5): ")

        if choice == "1":
            new_isbn = input("Enter the new ISBN: ")
            cur.execute("""
                UPDATE Book
                SET ISBN = %s
                WHERE Book_id = %s
            """, (new_isbn, book_id))
        elif choice == "2":
            new_title = input("Enter the new Title: ")
            cur.execute("""
                UPDATE Book
                SET Title = %s
                WHERE Book_id = %s
            """, (new_title, book_id))
        elif choice == "3":
            new_author = input("Enter the new Author: ")
            cur.execute("""
                UPDATE Book
                SET Author = %s
                WHERE Book_id = %s
            """, (new_author, book_id))
        elif choice == "4":
            new_subject = input("Enter the new Subject: ")
            cur.execute("""
                UPDATE Book
                SET Subject = %s
                WHERE Book_id = %s
            """, (new_subject, book_id))
        elif choice == "5":
            new_publication_year = input("Enter the new Publication Year: ")
            cur.execute("""
                UPDATE Book
                SET Publication_Year = %s
                WHERE Book_id = %s
            """, (new_publication_year, book_id))
        elif choice == "0":
            print("Exiting update process.")
            return

        con.commit()
        print("Book details updated successfully!")
    except psycopg2.Error as e:
        print(f"Error updating book details: {e}")

def update_on_return():
    try:
        cur = con.cursor()
        import datetime
        issue_id = input("Enter Issue_id: ")
        return_date = input("Enter date in YYYY-MM-DD: ")
        book_id = input("Enter the book_id: ")

        try:
            return_date = datetime.datetime.strptime(return_date, '%Y-%m-%d').date()
        except ValueError:
            print("Invalid date format. Please enter the date in YYYY-MM-DD format.")
            return

        cur.execute("""
            UPDATE Book_Issue
            SET Is_Return = TRUE, Return_Date = %s
            WHERE Issue_id = %s AND Book_id = %s;
        """, (return_date, issue_id, book_id))
        con.commit()
        print("Status is updated")

        # Fetch fine amount
        cur.execute("SELECT Fine_Amount FROM Book_Issue WHERE Issue_id = %s", (issue_id,))
        fine = cur.fetchone()
        if fine:
            print(f"To Pay {fine[0]}")
        else:
            print("No fine amount found.")
    except psycopg2.Error as e:
        print(f"Error updating return status {e}")
    
def insert_into_issue():
    try:
        issue_id = input("Enter Issue ID: ")
        book_id = input("Enter Book ID: ")
        user_id = input("Enter User ID: ")
        issue_date = input("Enter Issue Date (YYYY-MM-DD): ")

        cur = con.cursor()
        cur.execute("""
            INSERT INTO Book_Issue (Issue_id, Book_id, User_id, Issue_Date)
            VALUES (%s, %s, %s, %s)
        """, (issue_id, book_id, user_id, issue_date))
        con.commit()
        print("Book issue record inserted successfully!")
        
        cur.execute("SELECT Due_Date FROM Book_Issue WHERE Issue_id = %s", (issue_id,))
        due = cur.fetchone()
        if due:
            print(f"To return by {due[0]}")
        else:
            print("Error retrieving due date.")
    except psycopg2.Error as e:
        print(f"Error inserting into Book_Issue: {e}")

def search_book_by_subject(subject):
    try:
        cur = con.cursor()
        query = "SELECT * FROM Book WHERE Subject ILIKE %s;"
        cur.execute(query, ('%' + subject + '%',))
        books = cur.fetchall()

        return books

    except (Exception, psycopg2.DatabaseError) as error:
        print("Error during search:", error)
        return None
    
def search_book_by_author(author):
    try:
        cur = con.cursor()
        query = "SELECT * FROM Book WHERE Author ILIKE %s;"
        cur.execute(query, ('%' + author + '%',))
        books = cur.fetchall()

        return books

    except (Exception, psycopg2.DatabaseError) as error:
        print("Error during search:", error)
        return None

def search_book_by_title(title):
    try:
        cur = con.cursor()
        query = "SELECT * FROM Book WHERE Title ILIKE %s;"
        cur.execute(query, ('%' + title + '%',))
        books = cur.fetchall()

        return books

    except (Exception, psycopg2.DatabaseError) as error:
        print("Error during search:", error)
        return None
    
def get_books_to_return(user_id):
    try:
        cur.execute("SELECT * FROM books_to_return WHERE user_id = %s", (user_id,))
        results = cur.fetchall()
        return results
    except psycopg2.Error as e:
        print(f"Error fetching books to return: {e}")
        return None
        
def view_checked_out_books():
    try:
        cur = con.cursor()
        cur.execute("SELECT * FROM checked_out_books")
        books = cur.fetchall()
        print("Checked out books:")
        for book in books:
            print(book)
    except psycopg2.Error as e:
        print(f"Error getting checked out books: {e}")
        
def view_available_books():
    try:
        cur = con.cursor()
        cur.execute("SELECT * FROM available_book")
        books = cur.fetchall()
        print("Available books:")
        for book in books:
            print(book)
    except psycopg2.Error as e:
        print(f"Error getting Available books: {e}")
        
def user_roles_summary():
    try:
        cur = con.cursor()
        cur.execute("SELECT * FROM user_roles_summary")
        users = cur.fetchall()
        print("Users Counts: ")
        for user in users:
            print(user)
    except psycopg2.Error as e:
        print(f"Error getting User summary: {e}")
        
def librarian_actions():
    while True:
        print("\nLibrarian Actions:")
        print("1. Add Book")
        print("2. Update Book")
        print("3. Remove Book")
        print("4. Issue Book")
        print("5. Return Book")
        print("6. Add Member")
        print("7. Remove Member")
        print("8. Update Member")
        print("9. Search Books")
        print("10. View All Checkout Books")
        print("11. View User summary")
        print("0. Back to login")

        choice = input("Enter your choice (0-10): ")

        if choice == "1":
            add_book()
            
        elif choice == "2":
            update_book_details()
            
        elif choice == "3":
            delete_book()
            
        elif choice == "4":
            insert_into_issue()
            
        elif choice == "5":
            update_on_return()
            
        elif choice == "6":
            add_member()
            
        elif choice == "7":
            delete_member()
            
        elif choice == "8":
            update_member_details()
            
        elif choice == "10":
            view_data = view_checked_out_books()
            if view_data:
                for row in view_data:
                    print(row)
                    
        elif choice == "11":
            view_data = user_roles_summary()
            if view_data:
                for row in view_data:
                    print(row)
            
        elif choice == "9":
            while True:
                print("\nSearch by:")
                print("1. Title")
                print("2. Author")
                print("3. Genre")
                print("0. Back to login")

                search_option = input("Enter your choice (0-3): ")

                if search_option == "1":
                    search_param = input("Enter Title: ")
                    result = search_book_by_title(search_param)
                    for book in result:
                        print(book)
                elif search_option == "2":
                    search_param = input("Enter Author: ")
                    result = search_book_by_author(search_param)
                    for book in result:
                        print(book)
                elif search_option == "3":
                    search_param = input("Enter Subject: ")
                    result = search_book_by_subject(search_param)
                    for book in result:
                        print(book)
                elif search_option == "0":
                    print("Returning to operations")
                    break
                    
        elif choice == "0":
            print("Returning to login.")
            break
        else:
            print("Invalid choice. Please enter a number between 0 and 10.")
            
            
def member_actions(user_id):
     while True:
            books_to_return = get_books_to_return(user_id)
            if books_to_return:
                print("Books to be returned:")
                for book in books_to_return:
                    print(f"Book ID: {book[0]}, Due Date: {book[1]}")
            else:
                print("No books to be returned for the specified user.")
            
            print("\nMember Actions")
            print("1. Search by: Title")
            print("2. Search by: Author")
            print("3. Search by: Genre")
            print("4: View Available Books")
            print("0. Back to login")

            enter_option = input("Enter your choice (0-4): ")

            if enter_option == "1":
                search_param = input("Enter Title: ")
                result = search_book_by_title(search_param)
                for book in result:
                    print(book)
            elif enter_option == "2":
                search_param = input("Enter Author: ")
                result = search_book_by_author(search_param)
                for book in result:
                     print(book)
            elif enter_option == "3":
                search_param = input("Enter Subject: ")
                result = search_book_by_subject(search_param)
                for book in result:
                     print(book)

            elif enter_option == "4":
                books = view_available_books()
                if books:
                    for book in books:
                        print(books)

            elif enter_option == "0":
                print("Returning to login.")
                break
            else:
                print("Invalid choice. Please enter a number between 0 and 4.")
                
def login():
    while True:
        print("\nWelcome to LMS")
        print("Login as:")
        print("1. Member")
        print("2. Librarian")
        print("0. Logout")

        user_type = input("Enter your choice (0-2): ")

        if user_type == "1":
            print("Member Login")
            member_id_input = input("Enter Member_ID: ")
            password_input = input("Enter Password: ")
            if member_authentication(member_id_input, password_input):
                print(f"Authentication successful. Logged in as Member.")
                get_books_to_return(member_id_input)
                member_actions(member_id_input)
            else:
                print("Invalid credentials. Please try again.")
        elif user_type == "2":
            print("Librarian Login")
            librarian_id_input = input("Enter Librarian ID: ")
            password_input = input("Enter Password: ")
            if member_authentication(librarian_id_input, password_input):
                print("Authentication successful. Logged in as librarian.")
                librarian_actions()
            else:
                print("Invalid credentials. Please try again.")

        elif user_type == "0":
            print("Exited program")
            break

        else:
            print("Invalid choice. Please enter a number between 0 and 2.")
        
if __name__ == "__main__":
    login()

Welcome to LMS
Login as:
1. Member
2. Librarian
0. Logout
Enter your choice (0-2): 2
Librarian Login
Enter Librarian ID: USN40440123
Enter Password: securePass123
Authentication successful. Logged in as librarian.

Librarian Actions:
1. Add Book
2. Update Book
3. Remove Book
4. Issue Book
5. Return Book
6. Add Member
7. Remove Member
8. Update Member
9. Search Books
10. View All Checkout Books
11. View User summary
0. Back to login
Enter your choice (0-10): 11
Users Counts:
('Member', 27)
('Librarian', 24)

Librarian Actions:
1. Add Book
2. Update Book
3. Remove Book
4. Issue Book
5. Return Book
6. Add Member
7. Remove Member
8. Update Member
9. Search Books
10. View All Checkout Books
11. View User summary
0. Back to login
Enter your choice (0-10): 0
Returning to login.

Welcome to LMS
Login as:
1. Member
2. Librarian
0. Logout
Enter your choice (0-2): 0
Exited program